---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      backend:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.12.11@sha256:3d8a05e3432d50ea57594fabe971e46cc8fe963a0f9f8c40400bd56cd5388e47
            env:
              #LIBVA_DRIVER_NAME: i965
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_LOG_LEVEL: debug
              OLLAMA_MODELS: &modelPath /models
            securityContext:
              privileged: true
            resources:
              requests:
                memory: 2G
                cpu: 2000m
        pod:
          runtimeClassName: nvidia
    service:
      backend:
        controller: backend
        ports:
          http:
            port: 11434
    persistence:
      models:
        enabled: true
        existingClaim: ollama-models
        advancedMounts:
          backend:
            app:
              - path: *modelPath
      data:
        enabled: true
        existingClaim: ollama-config
        advancedMounts:
          backend:
            main:
              - path: /.ollama
      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
