---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pelican
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      pelican:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1
            envFrom:
              - secretRef:
                  name: pelican-secret
        containers:
          app:
            image:
              repository: ghcr.io/pelican-dev/panel
              tag: v1.0.0-beta31@sha256:5c57b17627eb134d52c0589bc1eaccf198b811a47c33cceb6416ff29504b2fa5
            env:
              XDG_DATA_HOME: /pelican-data
              APP_URL: https://panel.davidapps.dev
              ADMIN_EMAIL: david@davidilie.com
            securityContext:
              privileged: true
    service:
      pelican:
        controller: pelican
        ports:
          http:
            port: 80
          https:
            port: 443
    ingress:
      pelican:
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Gaming
          gethomepage.dev/name: Pelican
          gethomepage.dev/icon: pterodactyl.png
          gethomepage.dev/description: Game Server Panel
          gatus.home-operations.com/endpoint: |-
            name: Pelican Panel
            group: Gaming
            url: https://panel.davidapps.dev
            interval: 1m
            conditions: ["[STATUS] == any(200, 302)"]
        hosts:
          - host: "panel.davidapps.dev"
            paths:
              - path: /
                service:
                  identifier: pelican
                  port: http
    persistence:
      config-log:
        existingClaim: pelican
        globalMounts:
          - path: /pelican-data
      media:
        existingClaim: pelican-logs
        globalMounts:
          - path: /var/www/html/storage/logs
      plex-chromecast-profile:
        type: configMap
        name: pelican-caddyfile
        globalMounts:
          - path: /etc/caddy/Caddyfile
            subPath: Caddyfile
            readOnly: true
