---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./nfs-pvc.yaml
  - ./volsync-secret.sops.yaml
  - ./tautulli/ks.yaml
  - ./radarr/ks.yaml
  - ./sonarr/ks.yaml
  - ./plex/ks.yaml
  - ./bazarr/ks.yaml
  - ./agregarr/ks.yaml
  - ./overseerr/ks.yaml
  # - ./stream-master/ks.yaml
  # - ./threadfin/ks.yaml
  # - ./recyclarr/ks.yaml
components:
  - ../../flux/components/namespace
  - ../../flux/components/sops
