# The repo this is from
export BOOTSTRAP_GIT_REPOSITORY="https://github.com/davidilie/home-cluster"

# For root apps
ROOT_PASSWORD=""

# To enable Flux to update your cluster on `git push` set the following to one of:
# `generated` - this will generate a token and print it in the logs
export BOOTSTRAP_FLUX_GITHUB_WEBHOOK_SECRET=""

# The Weave GitOps dashboard admin password
# `generated` - this will generate a token and print it in the logs
export BOOTSTRAP_WEAVE_GITOPS_ADMIN_PASSWORD=""

# Choose one of your cloudflare domains
export BOOTSTRAP_CLOUDFLARE_DOMAIN="davidapps.dev"
export BOOTSTRAP_CLOUDFLARE_EMAIL="david@davidilie.com"
export BOOTSTRAP_CLOUDFLARE_APIKEY=""

# Create a cloudflare tunnel to automatically ingress into your cluster
# https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/
# cloudflared tunnel create <NAME or UUID>
export BOOTSTRAP_CLOUDFLARE_ACCOUNT_TAG=""
export BOOTSTRAP_CLOUDFLARE_TUNNEL_SECRET=""
export BOOTSTRAP_CLOUDFLARE_TUNNEL_ID=""

# For external services
export SERVICES_EXTERNAL_TRUENAS_IP="192.168.100.63"
export SERVICES_EXTERNAL_PROXMOX_IP="192.168.100.56"
export SERVICES_EXTERNAL_PDAEMON_IP="192.168.100.83"
export SERVICES_EXTERNAL_ROUTER_IP="192.168.100.1"
export SERVICES_EXTERNAL_IDRAC_IP="192.168.100.13"

# Choose your timezone
export BOOTSTRAP_TIMEZONE="Europe/Bucharest"

# Pick a range of unused IPs that are on the same network as your nodes
# You don't need many IPs, just choose 10 IPs to start with
export BOOTSTRAP_ANSIBLE_HOST_ADDR_0="192.168.100.40"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_0="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_0=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_0="true"
export BOOTSTRAP_ANSIBLE_HOSTNAME_0="master-01"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_1="192.168.100.41"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_1="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_1=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_1="true"
export BOOTSTRAP_ANSIBLE_HOSTNAME_1="master-02"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_2="192.168.100.42"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_2="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_2=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_2="true"
export BOOTSTRAP_ANSIBLE_HOSTNAME_2="master-03"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_3="192.168.100.43"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_3="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_3=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_3="false"
export BOOTSTRAP_ANSIBLE_HOSTNAME_3="worker-01"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_4="192.168.100.44"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_4="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_4=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_4="false"
export BOOTSTRAP_ANSIBLE_HOSTNAME_4="worker-02"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_5="192.168.100.45"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_5="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_5=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_5="false"
export BOOTSTRAP_ANSIBLE_HOSTNAME_5="worker-03"

export BOOTSTRAP_ANSIBLE_HOST_ADDR_6="192.168.100.46"
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_6="david"
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_6=""
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_6="false"
export BOOTSTRAP_ANSIBLE_HOSTNAME_6="worker-04"
