---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      shlink:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/shlinkio/shlink
              tag: 5.0.0@sha256:5bbedb6913b951f23428a61b581e7a22e33bdda0446455dfb4a598e57f15ff73
            env:
              TIMEZONE: Europe/Bucharest
              DB_DRIVER: postgres
              DEFAULT_DOMAIN: &host dave.tips
              DISABLE_TRACKING_FROM: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
              IS_HTTPS_ENABLED: "true"
              PORT: &port 80
              SHELL_VERBOSITY: 3
              TASK_WORKER_NUM: 4
              WEB_WORKER_NUM: 1
            envFrom:
              - secretRef:
                  name: shlink-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /rest/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128M
              limits:
                memory: 2048M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.davidhome.ro"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: Shlink
          gethomepage.dev/icon: shlink.png
          gethomepage.dev/description: URL Shortener
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: gurt.ing
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: childpizza.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      tmp-data:
        type: emptyDir
        globalMounts:
          - path: /etc/shlink/data
