---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
spec:
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
  interval: 15m
  chart:
    spec:
      chart: dcgm-exporter
      version: 4.7.1
      sourceRef:
        kind: HelmRepository
        name: dcgm-exporter
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: nvcr.io/nvidia/k8s/dcgm-exporter
      tag: 3.1.7-3.1.4-ubuntu20.04
    extraEnv:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    runtimeClassName: nvidia
    resources:
      requests:
        cpu: 10m
        memory: 256Mi
      limits:
        memory: 512Mi
        nvidia.com/gpu: 1
    serviceMonitor:
      interval: 15s
      honorLabels: true
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
      capabilities:
        add:
          - SYS_ADMIN
