---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app open-webui
  namespace: &namespace ai
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  path: ./kubernetes/apps/ai/open-webui/app
  prune: true
  dependsOn:
    - name: ollama
      namespace: ai
    - name: searxng
      namespace: ai
    - name: dragonfly-cluster
      namespace: databases
    - name: volsync
      namespace: volsync-system
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 10m
  wait: false
  postBuild:
    substitute:
      APP: *app
      APP_PVC: *app
    substituteFrom:
      - kind: Secret
        name: volsync-secret
        namespace: volsync-system
