---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: downloads
resources:
  - ./qbittorrent/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./flaresolverr/ks.yaml
  - ./prowlarr/ks.yaml
  - ./autobrr/ks.yaml
components:
  - ../../flux/components/namespace
  - ../../flux/components/sops
