---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stirling-pdf
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      stirling-pdf:
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.4.5
            env:
              DOCKER_ENABLE_SECURITY: "false"
              SECURITY_ENABLE_LOGIN: "false"
              SYSTEM_DEFAULTLOCALE: en_US
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: stirling-pdf
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "false"
          gatus.home-operations.com/endpoint: |-
            name: Stirling PDF
            group: Utilities
            url: https://pdf.davidhome.ro
            interval: 1m
            conditions: ["[STATUS] == 200"]
        hosts:
          - host: &host "pdf.davidhome.ro"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      configs:
        type: emptyDir
        globalMounts:
          - path: /configs
      logs:
        type: emptyDir
        globalMounts:
          - path: /logs
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
