---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./volsync-secret.sops.yaml
  - ./echo-server/ks.yaml
  - ./personal-dashboard/ks.yaml
  - ./minimserver/ks.yaml
  - ./nas-download/ks.yaml
  - ./shlink/ks.yaml
  - ./pelican/ks.yaml
  - ./uber-item-viewer/ks.yaml
  - ./homepage/ks.yaml
  - ./it-tools/ks.yaml
  - ./paperless/ks.yaml
  # - ./openspeedtest/ks.yaml
components:
  - ../../flux/components/namespace
  - ../../flux/components/regcred
  - ../../flux/components/sops
