---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      kavita:
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9
            env:
              TZ: Europe/Bucharest
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
    service:
      app:
        controller: kavita
        ports:
          http:
            port: 5000
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "false"
          gatus.home-operations.com/endpoint: |-
            name: Kavita
            group: Media
            url: https://kavita.davidhome.ro
            interval: 1m
            conditions: ["[STATUS] == 200"]
        hosts:
          - host: &host "kavita.davidhome.ro"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      config:
        existingClaim: kavita
        globalMounts:
          - path: /kavita/config
      media:
        existingClaim: storage-nfs
        globalMounts:
          - path: /share
