# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plausible-clickhouse
  namespace: observability
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  driftDetection:
    mode: enabled
  values:
    controllers:
      clickhouse:
        type: statefulset
        containers:
          app:
            image:
              repository: clickhouse/clickhouse-server
              tag: 24.12.6.70-alpine@sha256:cd450891db46cc6ffe313ca2b0fb7dbfb897a6873ca74a724cbe050a2cf62621
              pullPolicy: IfNotPresent
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: &path /ping
                    port: &port 8123
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              privileged: true
            ports:
              - name: http
                containerPort: 8123
                protocol: TCP
    persistence:
      event-data:
        enabled: true
        type: hostPath
        hostPath: /var/mnt/mdadm-analytics-storage/plausible/event-data
        hostPathType: DirectoryOrCreate
        globalMounts:
          - path: /var/lib/clickhouse
      event-logs:
        enabled: true
        type: hostPath
        hostPath: /var/mnt/mdadm-analytics-storage/plausible/event-logs
        hostPathType: DirectoryOrCreate
        globalMounts:
          - path: /var/log/clickhouse-server
    service:
      clickhouse:
        controller: clickhouse
        ports:
          http:
            port: 8123
