---
apiVersion: v1
kind: ConfigMap
metadata:
  name: plausible-clickhouse-config
  namespace: observability
data:
  disable-logs.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <query_log>
        <engine>ENGINE = Null</engine>
      </query_log>
      <query_thread_log>
        <engine>ENGINE = Null</engine>
      </query_thread_log>
      <query_views_log>
        <engine>ENGINE = Null</engine>
      </query_views_log>
      <query_metric_log>
        <engine>ENGINE = Null</engine>
      </query_metric_log>
      <trace_log>
        <engine>ENGINE = Null</engine>
      </trace_log>
      <text_log>
        <engine>ENGINE = Null</engine>
      </text_log>
      <metric_log>
        <engine>ENGINE = Null</engine>
      </metric_log>
      <asynchronous_metric_log>
        <engine>ENGINE = Null</engine>
      </asynchronous_metric_log>
      <part_log>
        <engine>ENGINE = Null</engine>
      </part_log>
      <processors_profile_log>
        <engine>ENGINE = Null</engine>
      </processors_profile_log>
      <error_log>
        <engine>ENGINE = Null</engine>
      </error_log>
      <session_log>
        <engine>ENGINE = Null</engine>
      </session_log>
      <opentelemetry_span_log>
        <engine>ENGINE = Null</engine>
      </opentelemetry_span_log>
      <crash_log>
        <engine>ENGINE = Null</engine>
      </crash_log>
      <backup_log>
        <engine>ENGINE = Null</engine>
      </backup_log>
      <blob_storage_log>
        <engine>ENGINE = Null</engine>
      </blob_storage_log>
      <s3_queue_log>
        <engine>ENGINE = Null</engine>
      </s3_queue_log>
      <asynchronous_insert_log>
        <engine>ENGINE = Null</engine>
      </asynchronous_insert_log>
    </clickhouse>
  prometheus.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <prometheus>
        <endpoint>/metrics</endpoint>
        <port>9363</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
        <errors>true</errors>
      </prometheus>
    </clickhouse>
