---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  interval: 30m
  chart:
    spec:
      chart: victoria-logs-single
      version: 0.11.25
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: victoria-logs
    server:
      persistentVolume:
        enabled: true
        storageClassName: openebs-hostpath
        size: 50Gi
      retentionPeriod: 30d
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true
      extraArgs:
        envflag.enable: "true"
        envflag.prefix: VM_
        httpListenAddr: ":9428"
      service:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.100.96
    fluent-bit:
      enabled: false
