---
endpoints:
  - name: Portainer
    group: Infrastructure
    url: http://portainer.infastructure.svc.cluster.local:9000
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: Scrypted
    group: Infrastructure
    url: https://scrypted.infastructure.svc.cluster.local:10443
    client:
      insecure: true
    interval: 1m
    conditions:
      - "[STATUS] == any(200, 302)"

  - name: go2rtc
    group: Infrastructure
    url: http://go2rtc.infastructure.svc.cluster.local:1984
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: TrueNAS
    group: Infrastructure
    url: https://truenas.davidhome.ro
    client:
      insecure: true
    interval: 1m
    conditions:
      - "[STATUS] == any(200, 302)"

  - name: Home Assistant
    group: Infrastructure
    url: https://hass.davidhome.ro
    interval: 1m
    conditions:
      - "[STATUS] == 200"
