---
endpoints:
  - name: Kubernetes API
    group: Cluster
    url: https://kubernetes.default.svc.cluster.local:443
    client:
      insecure: true
    interval: 1m
    conditions:
      - "[STATUS] == any(200, 401, 403)"
