---
endpoints:
  - name: Shlink
    group: Services
    url: https://dave.tips/rest/health
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: Shlink Web
    group: Services
    url: http://shlink-web.default.svc.cluster.local:8080
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: Personal Dashboard
    group: Services
    url: https://dash.davidhome.ro
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: Pelican Panel
    group: Services
    url: https://panel.davidapps.dev
    interval: 1m
    conditions:
      - "[STATUS] == any(200, 302)"

  - name: Echo Server
    group: Services
    url: https://echo-server.davidhome.ro
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: NAS Download
    group: Services
    url: https://dl.davidhome.ro
    interval: 1m
    conditions:
      - "[STATUS] == any(200, 403)"

  - name: Homepage
    group: Services
    url: http://homepage.default.svc.cluster.local:3000/api/healthcheck
    interval: 1m
    conditions:
      - "[STATUS] == 200"
