---
endpoints:
  - name: Open WebUI
    group: AI
    url: https://chat.davidhome.ro
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: Ollama
    group: AI
    url: http://ollama.ai.svc.cluster.local:11434
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  - name: SearXNG
    group: AI
    url: http://searxng.ai.svc.cluster.local:8080
    interval: 1m
    conditions:
      - "[STATUS] == 200"
