---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./prometheus-operator-crds/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./cloudflare-exporter/ks.yaml
  - ./dcgm-exporter/ks.yaml
  - ./grafana/ks.yaml
  - ./idrac-exporter/ks.yaml
  - ./plausible/ks.yaml
  - ./prometheus/ks.yaml
  - ./proxmox-exporter/ks.yaml
  - ./unpoller/ks.yaml
  - ./gatus/ks.yaml
  - ./victoria-logs/ks.yaml
  - ./fluent-bit/ks.yaml
  - ./blackbox-exporter/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./kromgo/ks.yaml
  - ./graphite-exporter/ks.yaml
  - ./claude-usage-tracker/ks.yaml
  - ./analytics-storage-exporter/ks.yaml
components:
  - ../../flux/components/namespace
  - ../../flux/components/sops
