---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      plex:
        pod:
          hostNetwork: true
          runtimeClassName: nvidia
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10467@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b
            env:
              ADVERTISE_IP: "https://plex.davidhome.ro,http://david.home.ro:32400"
              PLEX_NO_AUTH_NETWORKS: 192.168.100.0/24
              NVIDIA_DRIVER_CAPABILITIES: all
              NVIDIA_VISIBLE_DEVICES: all
              TZ: "Europe/Bucharest"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: &path /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 9Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
        seccompProfile: { type: RuntimeDefault }
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.davidhome.ro"
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
          gethomepage.dev/enabled: "false"
          gatus.home-operations.com/endpoint: |-
            name: Plex
            group: Media
            url: https://plex.davidhome.ro/identity
            interval: 1m
            conditions: ["[STATUS] == 200"]
        hosts:
          - host: &host "plex.davidhome.ro"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        existingClaim: plex-config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      media:
        existingClaim: storage-nfs
        globalMounts:
          - path: /media
            readOnly: true
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
      plex-chromecast-profile:
        type: configMap
        name: plex-chromecast-profile
        globalMounts:
          - path: /usr/lib/plexmediaserver/Resources/Profiles/Chromecast.xml
            subPath: Chromecast.xml
            readOnly: true
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
