---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./claim.yaml
  - ./helmrelease.yaml
components:
  - ../../../../flux/components/volsync
configMapGenerator:
  - name: plex-chromecast-profile
    files:
      - Chromecast.xml=./resources/Chromecast.xml
generatorOptions:
  disableNameSuffixHash: true
