---
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-secret"
type: Opaque
stringData:
  RESTIC_REPOSITORY: "s3:http://192.168.100.63:9000/volsync/${APP}"
  RESTIC_PASSWORD: "${VOLSYNC_RESTIC_PASSWORD}"
  AWS_ACCESS_KEY_ID: "${VOLSYNC_S3_ACCESS_KEY}"
  AWS_SECRET_ACCESS_KEY: "${VOLSYNC_S3_SECRET_KEY}"
