---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-exporter
  namespace: monitoring
spec:
  chart:
    spec:
      chart: cloudflare-exporter
      version: 0.2.3
      sourceRef:
        kind: HelmRepository
        name: cloudflare-exporter
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/lablabs/cloudflare_exporter
      tag: 0.0.16
    env:
      - name: CF_API_KEY
        valueFrom:
          secretKeyRef:
            name: cloudflare-exporter
            key: CF_API_KEY
      - name: CF_API_EMAIL
        value: david@davidilie.com
      - name: TZ
        value: Europe/Bucharest
      - name: FREE_TIER
        value: "true"
    serviceMonitor:
      enabled: true
  interval: 10m0s
