---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./claim.yaml
  - ./nfs-pvc.yaml
  - ./secret.sops.yaml
  - ./helmrelease.yaml
components:
  - ../../../../flux/components/volsync
