---
apiVersion: v1
kind: Service
metadata:
  name: &app idrac-nucleus
  namespace: external-services
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: http
      protocol: TCP
      port: &port 443
      targetPort: *port
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: idrac-nucleus
  namespace: external-services
  labels:
    kubernetes.io/service-name: idrac-nucleus
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.10.50"
---
apiVersion: v1
kind: Service
metadata:
  name: &app idrac-electron
  namespace: external-services
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: http
      protocol: TCP
      port: &port 443
      targetPort: *port
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: idrac-electron
  namespace: external-services
  labels:
    kubernetes.io/service-name: idrac-electron
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.10.51"
---
apiVersion: v1
kind: Service
metadata:
  name: &app idrac-proton
  namespace: external-services
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: http
      protocol: TCP
      port: &port 443
      targetPort: *port
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: idrac-proton
  namespace: external-services
  labels:
    kubernetes.io/service-name: idrac-proton
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.10.52"
---
apiVersion: v1
kind: Service
metadata:
  name: &app idrac-neutron
  namespace: external-services
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: http
      protocol: TCP
      port: &port 443
      targetPort: *port
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: idrac-neutron
  namespace: external-services
  labels:
    kubernetes.io/service-name: idrac-neutron
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.10.53"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: idrac-nucleus
  namespace: external-services
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Hardware
    gethomepage.dev/name: iDRAC Nucleus
    gethomepage.dev/icon: idrac.png
    gethomepage.dev/description: Server Management
    gatus.home-operations.com/endpoint: |-
      name: iDRAC Nucleus
      group: Hardware
      url: https://nucleus.idrac.davidhome.ro
      interval: 1m
      client:
        insecure: true
      conditions: ["[STATUS] == any(200, 302, 301)"]
spec:
  ingressClassName: internal
  rules:
    - host: &host nucleus.idrac.davidhome.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: idrac-nucleus
                port:
                  number: 443
  tls:
    - hosts: [*host]
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: idrac-electron
  namespace: external-services
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Hardware
    gethomepage.dev/name: iDRAC Electron
    gethomepage.dev/icon: idrac.png
    gethomepage.dev/description: Server Management
    gatus.home-operations.com/endpoint: |-
      name: iDRAC Electron
      group: Hardware
      url: https://electron.idrac.davidhome.ro
      interval: 1m
      client:
        insecure: true
      conditions: ["[STATUS] == any(200, 302, 301)"]
spec:
  ingressClassName: internal
  rules:
    - host: &host1 electron.idrac.davidhome.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: idrac-electron
                port:
                  number: 443
  tls:
    - hosts: [*host1]
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: idrac-proton
  namespace: external-services
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Hardware
    gethomepage.dev/name: iDRAC Proton
    gethomepage.dev/icon: idrac.png
    gethomepage.dev/description: Server Management
    gatus.home-operations.com/endpoint: |-
      name: iDRAC Proton
      group: Hardware
      url: https://proton.idrac.davidhome.ro
      interval: 1m
      client:
        insecure: true
      conditions: ["[STATUS] == any(200, 302, 301)"]
spec:
  ingressClassName: internal
  rules:
    - host: &host2 proton.idrac.davidhome.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: idrac-proton
                port:
                  number: 443
  tls:
    - hosts: [*host2]
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: idrac-neutron
  namespace: external-services
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Hardware
    gethomepage.dev/name: iDRAC Neutron
    gethomepage.dev/icon: idrac.png
    gethomepage.dev/description: Server Management
    gatus.home-operations.com/endpoint: |-
      name: iDRAC Neutron
      group: Hardware
      url: https://neutron.idrac.davidhome.ro
      interval: 1m
      client:
        insecure: true
      conditions: ["[STATUS] == any(200, 302, 301)"]
spec:
  ingressClassName: internal
  rules:
    - host: &host3 neutron.idrac.davidhome.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: idrac-neutron
                port:
                  number: 443
  tls:
    - hosts: [*host3]
---

