---
apiVersion: v1
kind: Service
metadata:
  name: &app truenas
  namespace: external-services
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ports:
    - name: http
      protocol: TCP
      port: &port 443
      targetPort: *port
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: truenas
  namespace: external-services
  labels:
    kubernetes.io/service-name: truenas
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.25.3"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: truenas
  namespace: external-services
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/name: TrueNAS
    gethomepage.dev/icon: truenas-scale.png
    gethomepage.dev/description: Network Storage
    gethomepage.dev/pod-selector: ""
    gatus.home-operations.com/endpoint: |-
      name: TrueNAS
      group: Infrastructure
      url: https://truenas.davidhome.ro
      interval: 1m
      client:
        insecure: true
      conditions: ["[STATUS] == any(200, 302)"]
spec:
  ingressClassName: internal
  rules:
    - host: &host truenas.davidhome.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: truenas
                port:
                  number: 443
  tls:
    - hosts: [*host]
