# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plausible
  namespace: observability
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  driftDetection:
    mode: enabled
  values:
    controllers:
      plausible:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: plausible-envs
        initContainers:
          geoip:
            image:
              repository: ghcr.io/maxmind/geoipupdate
              tag: v7.1@sha256:faecdca22579730ab0b7dea5aa9af350bb3c93cb9d39845c173639ead30346d2
              pullPolicy: IfNotPresent
            restartPolicy: Always
            env:
              GEOIPUPDATE_FREQUENCY: "8"
              GEOIPUPDATE_PRESERVE_FILE_TIMES: "1"
              GEOIPUPDATE_EDITION_IDS: GeoLite2-City
            envFrom:
              - secretRef:
                  name: plausible-secret
            securityContext:
              readOnlyRootFilesystem: true
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: [ls, /usr/share/GeoIP/GeoLite2-City.mmdb]
                  periodSeconds: 5
        containers:
          app:
            image:
              repository: ghcr.io/plausible/community-edition
              tag: v3.2.0@sha256:3d8af8d4a1be32c3dcc5e8dc01496639d945edd9963827e18abe984dd6bda086
              pullPolicy: IfNotPresent
            command:
              - sh
              - -c
              - |
                set -eux
                /entrypoint.sh db createdb
                /entrypoint.sh db migrate
                exec /entrypoint.sh run
            env:
              BASE_URL: https://plausible.davidapps.dev
              DISABLE_REGISTRATION: invite_only
              CLICKHOUSE_DATABASE_URL: http://plausible-clickhouse.observability.svc.cluster.local:8123/plausible_events_db
              IP_GEOLOCATION_DB: /usr/share/GeoIP/GeoLite2-City.mmdb
            envFrom:
              - secretRef:
                  name: plausible-secret
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          terminationGracePeriodSeconds: 1
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [10000]
            seccompProfile: { type: RuntimeDefault }
    persistence:
      tmp:
        enabled: true
        type: emptyDir
      geoip:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /usr/share/GeoIP
    service:
      plausible:
        controller: plausible
        ports:
          http:
            port: 8000
    ingress:
      plausible:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Monitoring
          gethomepage.dev/name: Plausible
          gethomepage.dev/icon: plausible.png
          gethomepage.dev/description: Web Analytics
          gatus.home-operations.com/endpoint: |-
            name: Plausible
            group: Monitoring
            url: https://plausible.davidapps.dev
            interval: 1m
            conditions: ["[STATUS] == 200"]
        hosts:
          - host: &app plausible.davidapps.dev
            paths:
              - path: /
                service:
                  identifier: plausible
                  port: http
      metrics:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.davidhome.ro"
        hosts:
          - host: &events e.davidhome.ro
            paths:
              - path: /api/event
                service:
                  identifier: plausible
                  port: http
          - host: &eventsgurt e.gurt.ing
            paths:
              - path: /api/event
                service:
                  identifier: plausible
                  port: http
      backupevents:
        enabled: true
        className: external
        hosts:
          - host: &backupevents e.dave.tips
            paths:
              - path: /api/event
                service:
                  identifier: plausible
                  port: http
      manualscript:
        enabled: true
        className: external
        annotations:
          nginx.ingress.kubernetes.io/use-regex: "true"
          nginx.ingress.kubernetes.io/rewrite-target: /js/script.manual.revenue.js
        hosts:
          - host: &manual manualjs.dave.tips
            paths:
              - path: /(.*)
                pathType: ImplementationSpecific
                service:
                  identifier: plausible
                  port: http
      script:
        enabled: true
        className: external
        annotations:
          nginx.ingress.kubernetes.io/use-regex: "true"
          nginx.ingress.kubernetes.io/rewrite-target: /js/script.file-downloads.outbound-links.pageview-props.revenue.tagged-events.js
        hosts:
          - host: &script js.dave.tips
            paths:
              - path: /(.*)
                pathType: ImplementationSpecific
                service:
                  identifier: plausible
                  port: http
        tls:
          - hosts:
              - *app
              - *events
              - *backupevents
              - *manual
              - *script
              - *eventsgurt
