---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kromgo-configmap
data:
  config.yaml: |
    metrics:
      - name: cluster_node_count
        query: count(kube_node_info)
        label: Nodes
        suffix: ""
        colors:
          - { color: "green", min: 0, max: 9999 }

      - name: cluster_pod_count
        query: count(kube_pod_info)
        label: Pods
        suffix: ""
        colors:
          - { color: "green", min: 0, max: 9999 }

      - name: cluster_cpu_usage
        query: round(avg(instance:node_cpu_utilisation:rate5m) * 100, 0.1)
        label: CPU
        suffix: "%"
        colors:
          - { color: "green", min: 0, max: 35 }
          - { color: "orange", min: 36, max: 75 }
          - { color: "red", min: 76, max: 9999 }

      - name: cluster_memory_usage
        query: round(sum(node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / sum(node_memory_MemTotal_bytes) * 100, 0.1)
        label: Memory
        suffix: "%"
        colors:
          - { color: "green", min: 0, max: 35 }
          - { color: "orange", min: 36, max: 75 }
          - { color: "red", min: 76, max: 9999 }

      - name: cluster_age_days
        query: round((time() - min(kube_node_created)) / 86400)
        label: Age
        suffix: "d"
        colors:
          - { color: "green", min: 0, max: 9999 }

      - name: cluster_uptime_days
        query: round(avg(node_time_seconds - node_boot_time_seconds) / 86400)
        label: Uptime
        suffix: "d"
        colors:
          - { color: "green", min: 0, max: 9999 }
