---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    serviceAccount:
      create: false
      name: homepage
    controllers:
      homepage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.2.0
            env:
              TZ: Europe/Bucharest
              HOMEPAGE_ALLOWED_HOSTS: "*"
              RADARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: RADARR_API_KEY
              SONARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: SONARR_API_KEY
              PROWLARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: PROWLARR_API_KEY
              UNIFI_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: UNIFI_API_KEY
              QBITTORRENT_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: QBITTORRENT_USERNAME
              QBITTORRENT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: QBITTORRENT_PASSWORD
              GRAFANA_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: GRAFANA_USERNAME
              GRAFANA_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: GRAFANA_PASSWORD
              PROXMOX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: PROXMOX_TOKEN
              PROXMOX_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: homepage-secret
                    key: PROXMOX_SECRET
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthcheck
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: homepage
        ports:
          http:
            port: *port
    ingress:
      app:
        className: internal
        hosts:
          - host: &host "hp.davidhome.ro"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - path: /app/config/settings.yaml
            subPath: settings.yaml
            readOnly: true
          - path: /app/config/widgets.yaml
            subPath: widgets.yaml
            readOnly: true
          - path: /app/config/services.yaml
            subPath: services.yaml
            readOnly: true
          - path: /app/config/bookmarks.yaml
            subPath: bookmarks.yaml
            readOnly: true
          - path: /app/config/kubernetes.yaml
            subPath: kubernetes.yaml
            readOnly: true
          - path: /app/config/proxmox.yaml
            subPath: proxmox.yaml
            readOnly: true
      tmp:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
