---
title: David Home
favicon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/homepage.png
theme: dark
color: slate
headerStyle: clean
layout:
  Media:
    style: row
    columns: 3
  Downloads:
    style: row
    columns: 4
  AI:
    style: row
    columns: 2
  Infrastructure:
    style: row
    columns: 4
  Hardware:
    style: row
    columns: 2
  Monitoring:
    style: row
    columns: 3
  Services:
    style: row
    columns: 4
  Gaming:
    style: row
    columns: 2
