---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: databases
data:
  disable-logs.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <query_log remove="1"/>
      <query_thread_log remove="1"/>
      <query_views_log remove="1"/>
      <query_metric_log remove="1"/>
      <trace_log remove="1"/>
      <text_log remove="1"/>
      <metric_log remove="1"/>
      <asynchronous_metric_log remove="1"/>
      <part_log remove="1"/>
      <processors_profile_log remove="1"/>
      <error_log remove="1"/>
      <session_log remove="1"/>
      <opentelemetry_span_log remove="1"/>
      <crash_log remove="1"/>
      <backup_log remove="1"/>
      <blob_storage_log remove="1"/>
      <s3_queue_log remove="1"/>
      <asynchronous_insert_log remove="1"/>
    </clickhouse>
  prometheus.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <prometheus>
        <endpoint>/metrics</endpoint>
        <port>9363</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
        <errors>true</errors>
      </prometheus>
    </clickhouse>
