# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clickhouse
  namespace: databases
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  driftDetection:
    mode: enabled
  values:
    controllers:
      clickhouse:
        type: statefulset
        containers:
          app:
            image:
              repository: clickhouse/clickhouse-server
              tag: 26.1.2.11-alpine@sha256:7e83cd8f04fe9705ce28f71ae394e2c89a51d9e9ea92467582712c2893256b94
              pullPolicy: IfNotPresent
            env:
              CLICKHOUSE_USER: default
              CLICKHOUSE_PASSWORD: pizza
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: &path /ping
                    port: &port 8123
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              privileged: true
            ports:
              - name: http
                containerPort: 8123
                hostPort: 8123
                protocol: TCP
              - name: metrics
                containerPort: 9363
                protocol: TCP
    persistence:
      event-data:
        enabled: true
        type: hostPath
        hostPath: /var/mnt/mdadm-analytics-storage/zerocut/event-data
        hostPathType: DirectoryOrCreate
        globalMounts:
          - path: /var/lib/clickhouse
      event-logs:
        enabled: true
        type: hostPath
        hostPath: /var/mnt/mdadm-analytics-storage/zerocut/event-logs
        hostPathType: DirectoryOrCreate
        globalMounts:
          - path: /var/log/clickhouse-server
      config:
        type: configMap
        name: clickhouse-config
        globalMounts:
          - path: /etc/clickhouse-server/config.d/disable-logs.xml
            subPath: disable-logs.xml
            readOnly: true
          - path: /etc/clickhouse-server/config.d/prometheus.xml
            subPath: prometheus.xml
            readOnly: true
    service:
      clickhouse:
        controller: clickhouse
        ports:
          http:
            port: 8123
          metrics:
            port: 9363
    serviceMonitor:
      clickhouse:
        serviceName: clickhouse
        endpoints:
          - port: metrics
            path: /metrics
            interval: 1m
