---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: portainer
  namespace: flux-system
spec:
  interval: 6h
  dependsOn:
    - name: openebs
      namespace: openebs-system
  chart:
    spec:
      chart: portainer
      version: 2.33.6
      sourceRef:
        kind: HelmRepository
        name: portainer
        namespace: flux-system
  values:
    persistence:
      enabeld: true
      size: 1G
      storageClass: openebs-hostpath
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Infrastructure
        gethomepage.dev/name: Portainer
        gethomepage.dev/icon: portainer.png
        gethomepage.dev/description: Container Management
      hosts:
        - host: &host "portainer.davidhome.ro"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
